@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(240, 78%, 98%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-top-size {
  width: 375px;
  height: 568px;
}

.bg-bottom-size {
  width: 353px;
  height: 304px;
}

@media (max-width: 500px) {
  .bg-top-size {
    width: 200px;
    height: 400px;
    right: 0;
  }
  
  .bg-bottom-size {
    display: none;
  }
}
